/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2015, 3:51:28 PM
    Author     : liqianqian
*/

.bottom-margins{
margin-bottom:40px;
}

.top-margins{
margin-top:40px;
}
